body {
  background-color: #111;
  color: #eee;
  font-family: monospace;
  padding: 1em;
}

h1 {
  color: #00bcd4;
}

pre {
  background: #222;
  border: 1px solid #444;
  padding: 1em;
  max-height: 400px;
  overflow: auto;
}
